
# Enumerate-Zip

### Enumerate:


for ile non-scalar yapılar içerisinde dolaşırken ya elemanları ya da indexleri üzerinde dolanmıştık, ama neden ikisi de aynı anda olmasın?


Variable Unpacking konusunda bir tuple, liste gibi yapıların değerlerini birden çok değişkene bir seferde eşitlemeyi görmüştük.


Bunun aynısını iterasyonda da yapabiliriz.

In [1]:
l = [(1,2), (10,20)]

In [2]:
for e in l:
    print(e)

(1, 2)
(10, 20)

In [4]:
for e in l:
    a, b = e
    print(a)
    print(b)
    print("********")

1
2
********
10
20
********

In [5]:
for a,b in l:
    print("tuple'ın ilk elemanı", a)
    print("tuple'ın ikinci elemanı",b)
    print("------------------------------")

tuple'ın ilk elemanı 1
tuple'ın ikinci elemanı 2
------------------------------
tuple'ın ilk elemanı 10
tuple'ın ikinci elemanı 20
------------------------------

    enumerate() bize (index, element) olarak verecek.

In [6]:
adlar = ['Tyler', 'Blake', 'Cory', 'Cameron']

In [7]:
for e in adlar:
    print(e)

Tyler
Blake
Cory
Cameron

In [8]:
for i, e in enumerate(adlar):
    print(i, "indexindeki eleman: ",e)

0 indexindeki eleman:  Tyler
1 indexindeki eleman:  Blake
2 indexindeki eleman:  Cory
3 indexindeki eleman:  Cameron

    enumerate() 0'dan başlamak zorunda değil, özellikle kaçtan başlayacağını belirtebiliriz.

In [9]:
for i, e in enumerate(adlar, start=100):
    print(i, "indexindeki eleman: ", e)

100 indexindeki eleman:  Tyler
101 indexindeki eleman:  Blake
102 indexindeki eleman:  Cory
103 indexindeki eleman:  Cameron

### zip()


    Farklı yapıların içinde paralel iterasyon yapmamızı sağlar. zip()

In [10]:
ogrenciler = ["ogr_1","ogr_2","ogr_3"]
notlar = [90,80,72]

In [11]:
for s, g in zip(ogrenciler, notlar):
    print(s, g)

ogr_1 90
ogr_2 80
ogr_3 72

In [12]:
for e in zip(ogrenciler, notlar):
    print(e)

('ogr_1', 90)
('ogr_2', 80)
('ogr_3', 72)

In [13]:
for i in range(len(ogrenciler)):
    print(ogrenciler[i], notlar[i])

ogr_1 90
ogr_2 80
ogr_3 72

### zip() Örnek:

In [14]:
# Her ayki karı hesaplamak
satis = [3500.00, 76300.00, 67200.00]

In [15]:
maliyet = [56700.00, 21900.00, 12100.00]

In [17]:
for i in range(len(maliyet)):
    s = satis[i]
    m = maliyet[i]
    
    kar = s - m
    print(f'Total profit: {kar}')

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0

In [18]:
satis = [3500.00, 76300.00, 67200.00]

In [19]:
maliyet = [56700.00, 21900.00, 12100.00]

In [20]:
for s, m in zip(satis, maliyet):
    kar = s - m
    print(f'Total profit: {kar}')

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0

### zip() ile Dictionary Yaratmak:

In [21]:
keys = ['isim', 'soyad', 'ulke', 'is']
values = ['Denis', 'Walker', 'Turkey', 'data scientist']

In [22]:
d = {}

In [23]:
for k, v in zip(keys, values):
    d[k] = v

In [24]:
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'data scientist'}

In [25]:
d["isim"]

'Denis'